*{
   padding: 0; 
   margin: 0;
   box-sizing: border-box;
}
body{
   font-family:  'outfit'; 
   
  /* background-image: url(/assets/right_img.png);*/

   background-repeat: no-repeat;
}
.contact-container{
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
   

}
.contect-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}
.contect-left-titel h2{
    font-weight: 600;
    color: #f360b6;
    font-size: 40px;
    margin-bottom: 5px;

}
.contect-left-titel hr{
    border: none;
    width: 120px;
    height: 5px;
    
    background-color:#ba0879 ;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contect-inpouts{
   width: 300px;
   height: 50px;
    border-style:  20px;
    
   
    font-weight: 500;
    color: #fa79c2;
    border-radius: 50px;
}
.contect-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contect-inpouts:focus{
    border: 2px solid #fb84c4;
}
.contect-inpouts::placeholder{
    color:rgb(252, 90, 198);
}
.contect-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap:10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#ff4fca,#fa6d86);
    cursor: pointer;
}
.contect-left button img{
    height: 15px;
}
.contect-right img{
    width: 500px;
}
@media (max-width:950px) {
    nav{
         flex-direction: column;
         justify-content: center;
        }
 
 
     .contect-inpouts{
         width: 80vw;
     }
     .contect-right{
         display: none;
     }
 
 }

 @media (max-width:650px) {
    nav{
         flex-direction: column;
         justify-content: center;
        }
 
 
     .contect-inpouts{
         width: 80vw;
     }
     .contect-right{
         display: none;
     }
 
 }